.card {
  text-align: center;

  .name {
    display: inline-block;
    transition: transform 200ms;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .name {
      transform: translateX(4px);
    }
  }

  @media (prefers-reduced-motion) {
    &:hover .name {
      transform: none;
    }
  }
}
