/*
#1 = 35A49C
#2 = 44BCDD
*/

a {
	color: #44BCDD;
}
a:hover {
	color: #35A49C;
}

/* menu */
.nav>li>a:hover {
	color: #44BCDD;
}

.navbar .navbar-nav > .active > a {
	color: #44BCDD;
}

/* portfolio */
.portfolio-item .portfolio-desc {
	background: #44BCDD;
}

/* btn */
.btn-theme {
  background: #44BCDD;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #35A49C;
}

/* contact */
.validation {
	color:#35A49C;
}

/* footer */
.social-circle li a {
	background:#44BCDD;
}

a.scrollup{
	background:#44BCDD;
}

/* progress bar */
.progress-bar-success {
	background-image: linear-gradient(to bottom, #35A49C 0%, #44BCDD 100%);
	background-repeat: repeat-x;
}