.FitPriceTag {
  background: var(--gray-12);
  transform: rotate(3deg);
  color: var(--gray-1);
  font-weight: 600;
  padding: var(--space-1);
  line-height: 1;
  font-size: var(--font-size-5);
  display: inline-block;
  position: absolute;
  top: -3px;
  right: -3px;
}
