.FitTitle {
  margin: 0 var(--space-3);
  text-align: center;
  transform: skew(-5deg) rotate(-1deg);
  margin-top: calc(-1 * var(--space-6));
  text-shadow: 2px 2px 0 var(--gray-a4);
  a {
    background: var(--gray-12);
    display: inline;
    line-height: 1.3;
    font-size: var(--font-size-6);
    text-align: center;
    color: var(--gray-1);
    padding: 0 var(--space-3);
  }
}
