.Form {
  box-shadow: var(--shadow-2);
  background: var(--color-panel-solid);
  border: 1px solid var(--gray-5);
  border-radius: var(--radius-3);
  padding: var(--space-5);

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
}
