<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Tomáš Litera; http://kegege.net">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{block title|striptags|trim}Tomáš Litera{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/isotope.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="{$basePath}/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<!-- skin -->
	<link rel="stylesheet" href="{$basePath}/css/default.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="canonical" href="{$context->httpResponse->headers[Content-Location]}" n:ifset="$context->httpResponse->headers[Content-Location]">
</head>

<body>

	{include content}

	<script src="{$basePath}/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery.easing.1.3.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBFR6GGX-I1EX-77HgCQVL4CGEVG70hkY&amp;sensor=false"></script>
	<script src="{$basePath}/js/jquery.isotope.min.js"></script>
	<script src="{$basePath}/js/jquery.nicescroll.min.js"></script>
	<script src="{$basePath}/js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="{$basePath}/js/skrollr.min.js"></script>		
	<script src="{$basePath}/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="{$basePath}/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="{$basePath}/js/jquery.easypiechart.js"></script>
	<script src="{$basePath}/js/chart.js"></script>
	<script src="{$basePath}/js/stellar.js"></script>
	<script src="{$basePath}/js/jquery.appear.js"></script>
	<script src="{$basePath}/js/validate.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script type="text/javascript">
		// When the window has finished loading create our google map below
		google.maps.event.addDomListener(window, 'load', init);

		function init() {
			// Basic options for a simple Google Map
			// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
			var mapOptions = {
				// How zoomed in you want the map to start at (always required)
				zoom: 11,

				// The latitude and longitude to center the map (always required)
				center: new google.maps.LatLng(50.075699, 14.435347), // Prague

				// How you would like to style the map. 
				// This is where you would paste any style found on Snazzy Maps.
				styles: [{
					featureType:"all",
					elementType:"all",
					stylers:[
						{ invert_lightness:true },
						{ saturation:10 },
						{ lightness:30 },
						{ gamma:0.5 },
						{ hue:"#44BCDD" }
					]
				}]
			};

			// Get the HTML DOM element that will contain your map 
			// We are using a div with id="map" seen below in the <body>
			var mapElement = document.getElementById('map');

			// Create the Google Map using out element and options defined above
			var map = new google.maps.Map(mapElement, mapOptions);
		}
	</script>
</body>
</html>